ul {
  list-style-type: none;
  margin: 0;
  padding: 1;
  overflow: hidden;
  background-color: lightgray;
  font-size: 20px;
}

li {
  float: left;
  border-right:15px solid transparent;
}

li:last-child {
  border-right: none;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 15px 16px;
  text-decoration: none;
}

li a:hover:not(.active) {
  background-color: lightgreen;
}

ul li img {
  width: 100px;
  height: 100px;
}
H1{
  text-align: center;
}
table{
  text-align: center;
}
h3{
  text-align: center;
}
form{
  text-align: center;
  font-size: 15px;
}
form input{
  padding: 2px;
  font-family: sans-serif;

}